@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
:root{
    --bg-color: #081b29;
    --second-bg-color:#112e42;
    --text-color:#ededed;
    --main-color:#00abf0;
}

.body{
    background: #081b29;  
    color: #ededed; 
    width: 100vw;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color:#ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}
.navbar a:hover,
.navbar a.active{
    color:#00abf0;
}
.home{
    
    /* background: url('img6.jpg') no-repeat; */
    display: flex;
    align-items: center;
    padding: 0 30%;
    
    
}
.home-content{
    margin-top: 250px;
    max-width: 600px;
    
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color:#00abf0;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a{
    position: relative;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    width: 155px;
    height: 90%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;

}
.btn-box a:hover{
    color:#00abf0;
}



.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color:#081b29;
}
.btn-box a:nth-child(2)::before{
    background: #00abf0;
}
.btn-box a::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}
.btn-box a:hover::before{
    width: 100%;
}
.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    font-family: 'consolas';
    color: var(--clr);
    transition: 0.5s;
    
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    font-size: 20px;
    color: #00abf0;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.home-sci a:hover {
    color: #081b29;
}


.home-sci a::before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0;
    width: 0;
    height: 100%;
    background: #00abf0;
    z-index: -1;
    transition: .5s;
}
.home-sci a:hover::before{
    width: 100%;

}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    height:950px;
    width:100%;
    
    
    
}
.heading{
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}
span {
    color: var(--main-color);
}


.about-img{
    position: relative;
    width: 20rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-img img{
    width:90%;
    border-radius: 50%;
    border:.9rem solid var(--main-color);

}
.about-img .circle-spin{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .0rem solid var(--second-bg-color);
    border-bottom: .3rem solid red;
    border-left: .4rem solid var(--main-color);
    border-right: .4rem solid var(--main-color);
}
.about-content{
    text-align: center;
}
.about-content h3{
    font-size: 2.6rem;
}
.about-content p{
    font-size: 1.5rem;
    margin: 2rem 0 3rem;

}

    

.btn{
    display: inline-block;
    
    background-color: #00abf0;
}
.btn::before{
    background: var(--second-bg-color);

}

.education{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height:auto ;
    padding-bottom: 5rem;
    height: 980px;
    background-color: #112e42;
}
.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;

}
.education .education-column {
    flex: 1 1 40rem;
}
.education-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}
.education-column .education-box{
    border-left: .2rem solid var(--main-color);
}
.education-box .education-content{
    position: relative;
    padding-left: 2rem;
}
.education-box .education-content::before{
    content:'';
    position: absolute;
    top:0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background: var(--main-color);
    border-radius: 50%;
}
.education-content .content{
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}
.education-content .content::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}
.education-content .content:hover::before{
width:100%;
}



.education-content .content .year{
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}
.education-content .content .year i{
    padding-right: .5rem;
}
.education-content .content h3{
    font-size: 2rem;
}
.education-content .content p{
    font-size: 1.6rem;
    padding-top: .5rem;

}
.skills{
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap:5rem;

}
.skills-row .skills-column {
    flex: 1 1 40rem;
}
.skills-column .title{
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
    /* color:#ededed; */

}
.skills-box .skills-content{
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding:.5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}
.skills-box .skills-content::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 0;
    height:100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}
.skills-box .skills-content:hover::before{
    width:100%;
}

.skills-content .progress {
    padding: 1rem 0;
}
.skills-content .progress h3{
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}
.skills-content .progress h3 span {
    color: var(--text-color)
}
.skills-content .progress .bar {
    height:2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin:1rem 0;
}
.skills-content .progress .bar span{
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar span{
    width:90%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar span{
    width:80%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar span{
    width:60%;
}
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar span{
    width: 75%
}


.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar span{
    width:95%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar span{
    width:67%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar span{
    width:85%;
}
.skills-column:nth-child(2) .skills-content .progress:nth-child(4) .bar span{
    width: 65%
}

.contact{
    min-height: auto;
    padding-bottom: 7rem;
    background-color: #112e42;

}

.contact form {
    max-width:70rem;
    margin: 0 auto;
    text-align: center;
}
.contact form .input-box{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width:100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:var(--text-color);
    background: transparent;
    border-radius: .6rem;
    border:.2rem solid var(--main-color)
}
.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder{
    color: var(--text-color);
}
.contact form .focus{
    position: absolute;
    top:0;
    left:0;
    width:0;
    height:100%;
    background: var(--second-bg-color);
    border-radius: .6rem;
    z-index: -1;
    transition: .5s;
}
.contact form .input-box .input-field input:focus~.focus,
.contact form .input-box .input-field input:valid~.focus,
.contact form .textarea-field textarea:focus~.focus,
.contact form .textarea-field textarea:valid~.focus{
width:100%;

}


.contact form .textarea-field {
    position: relative;
    margin:.8rem 0 2.7rem;
    display: flex;
}

.contact form .textarea-field textarea {
    resize: none;

}
.contact form .btn-box.btns .btn{
    cursor: pointer;

}

.mrow{
height: 300px;
padding: 20px;;

}
.link{
    padding:20px;
}

.image12{
float: right;
width: 40%;
align-items: center;
padding-top: 0px;

}
.bg{
    background-color: #112e42;
    height: 730px;
    
}

.articles {
    padding-top: 10%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 1.5rem;
  }
  
  .articles article {
    width: 100%;
    max-width: 420px;
    cursor: pointer;
    position: relative;
    display: block;
  }
  
  .articles article h2 {
    margin: 0 0 8.5rem 6;
    font-size: 1.6rem;
    color: var(--text);
    transition: color 0.3s ease-out;
  }
  
  .articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.2s ease-in-out;
    height: 100%;
    aspect-ratio: 22/9;
    overflow: hidden;
    object-fit: cover;
  }
  
  .articles article:hover img {
    transform: scale(1.5);
  }
  
  .article-preview {
    padding: 1.5rem;
    background: white;
  }
  
  .articles figure {
    width: 100%;
    height: 19rem;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: rgb(5, 115, 240) 8px 7px 20px 0px;
  }
  .title{
    color: #0798ff;
    font-size: xx-large;
  }


