.age

{  background-color: black;
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
 .s{
    color: rgb(255, 0, 200);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 10px;
    font-size: xx-large;
    background-color: transparent;
    padding: 10px;
    border-radius: 12px;
    border-color: cyan;
    border-width: 2px;
    
}  .s:hover{
    color:greenyellow;
}


.gh{
    margin-top: 150px;
    margin-left: 450px;
    height: 300px;
    width: 400px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    font-size: larger;
    font-weight: 600;
    border-radius: 25px;

}
.gh:hover{
    border: 2px solid greenyellow;
    
}  
.g1{
    border-radius: 25px;
    border-color:rgb(194, 194, 194); 
    padding-left:25px;
    padding-right:25px;
    /* color: aliceblue; */
    text-align: center;

}
.g1:hover{
    border-color: aqua;

}
.g{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:aliceblue
}