.s1{
    margin-left: 470px;
    width:30%;
    height:30%;
    margin-top: 05%;
}
.s2{
    width:30%;
    height:30%;
    margin-left:470px;
}
.s3{
    width:20%;
    height:20%;
    margin-left: 540px;
    margin-top: 10%;
}
.shoe{
    margin-left: 20px;
    
}
.img31{
    height:115px;
    margin-top: 20px;
}
.shoe1{
    margin-left: 20px;  
}
.img39{
    height:115px;
    margin-top: 20px;
}
.men1{
    margin-left: 20px;
}
.img35{
    height:115px;
    margin-top: 20px;

}
.watch1{
    margin-left: 20px;
}
.img36{
    height: 115px;
    margin-top: 20px;
}
.men2{
    margin-left: 20px;
}
.img34{
    height:115px;
    margin-top: 20px;
}